.top-bar {
  .top-bar-right {
    a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.banner {
  width: 100%;

  .banner-text {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    top: 35%;
    font-size: 2.5em;
    font-weight: bold;
  }

  .banner-subtext {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20%;
    font-size: 1.5em;
    font-weight: bold;
  }
}
